<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Informatik Projekt Demo</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
				<li><a href="about">About</a></li>
				<li><a href="schutz">Schutzmechanismen</a></li>
				<li><a href="">Test</a></li>
        <li><a href="https://github.com/nihalalizada/kappes-projekt" target="_blank"><img src="/static/img/github-logo.png" alt="GitHub"></a></li>
        </ul>
      </nav>
    </header>
     </div>
     <div class="container-c">
        <h1>Was sind Man in the middle Attacken?</h1>
        <p>Ein Man-in-the-Middle-Angriff (MITM) ist eine Art von Cyber-Sicherheitsbedrohung, bei der ein Angreifer eine 
          aktive Rolle in der Kommunikation zwischen zwei Parteien spielt. Die Idee dahinter ist, dass der Angreifer die 
          Übertragung von Informationen abfängt, ändert und an den Empfänger weiterleitet, ohne dass die betroffene Partei 
          davon weiß. Dies kann dazu führen, dass vertrauliche Daten gestohlen oder unabsichtlich verändert werden, was zu 
          ernsthaften Folgen für die Betroffenen haben kann. Es ist wichtig zu verstehen, wie Man-in-the-Middle-Angriffe 
          funktionieren und wie man sich davor schützen kann, um die eigene Sicherheit im Cyberspace zu gewährleisten.
        </p>
     </div>
        <div class = "footer">
            Footer - 2023 - Informatik Projekt - Creative Commons License
            </div>  
    </body>
  </html>