<!-- Autor: -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Informatik Projekt Demo</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/home">Home</a></li>
      <li><a href="general">Mitm</a></li>
      <li><a href="tools">Tools</a></li>
              <li><a href="schutz">Schutzmechanismen</a></li>
              <li><a href="https://github.com/nihalalizada/kappes-projekt" target="_blank"><img src="/static/img/github-logo.png" alt="GitHub"></a></li>
        </ul>
      </nav>
    </header>
     </div>
     <div class="container-c">
        <h1>Was sind Man in the middle Attacken?</h1>
        <p>Ein Man-in-the-Middle-Angriff (MITM) ist eine Art von Cyber-Sicherheitsbedrohung, bei der ein Angreifer eine 
          aktive Rolle in der Kommunikation zwischen zwei Parteien spielt. Die Idee dahinter ist, dass der Angreifer die 
          Übertragung von Informationen abfängt, ändert und an den Empfänger weiterleitet, ohne dass die betroffene Partei 
          davon weiß. Dies kann dazu führen, dass vertrauliche Daten gestohlen oder unabsichtlich verändert werden, was zu 
          schwerwiegenden Folgen für die Betroffenen haben kann.
        </p>
     </div>
     <div class = "images">
      <img src="/static/img/MITM_1.png" alt="MITM1">
    </div>
    
    <div class="container-c">
      <p>
        Der Angreifer positioniert sich in der Mitte dieser Verbindung und kann Daten, die zwischen dem Benutzer und der 
        Ressource ausgetauscht werden, abfangen, ändern und manipulieren.
        <br>
        Ein User (Victim) versucht, eine Ressource im Internet zu erreichen. 
      </p>
   </div>

    <div class = "images">
      <img src="/static/img/MITM_2.png" alt="MITM2">
    </div>

    <div class="container-c">
      <p>
        Der Angreifer nutzt eine Schwachstelle im Netzwerk, um sich zwischen dem Benutzer und der 
        Zielressource einzuschleusen. Dabei kann er die Daten, die zwischen dem Benutzer und der Ressource übertragen werden, 
        abfangen und ändern.
      </p>
   </div>
     <div class = "footer">
      Informatik Projekt - Man in the Middle - Group Rom - 2023
      </div> 
    </body>
  </html>