<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/tabs.js')}}"></script>
	  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Informatik Projekt Demo</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/home">Home</a></li>
      <li><a href="general">Mitm</a></li>
      <li><a href="tools">Tools</a></li>
              <li><a href="schutz">Schutzmechanismen</a></li>
              <li><a href="https://github.com/nihalalizada/kappes-projekt" target="_blank"><img src="/static/img/github-logo.png" alt="GitHub"></a></li>
        </ul>
      </nav>
    </header>
    <div class="container-c">
      <h1>Informatik Projekt Demo</h1>
      <p> Willkommen auf unserer Website zu Man-in-the-Middle-Angriffen. Wir haben in unserem Semesterprojekt 
        eine interaktive Demonstration erstellt, die Ihnen die Möglichkeit bietet, drei verschiedene Angriffsszenarien 
        auszuprobieren. Die Demonstration ist ein praxisorientiertes Produkt, das Ihnen ein besseres Verständnis der Bedrohungen 
        durch Man-in-the-Middle-Angriffe vermitteln soll. 
        <br><br>
        Auf unserer Webseite stehen ausführliche Anleitungen zu den Angriffen und Informationen über die Tools zur 
        Verfügung, die wir bei der Erstellung unseres Projekts eingesetzt haben. Wir haben uns bemüht, eine benutzerfreundliche 
        Oberfläche zu gestalten, um auch unerfahrenen Anwendern die Möglichkeit zu geben, die Demonstration auszuprobieren und mehr 
        über das Thema zu erfahren. Zusätzlich finden Sie Informationen über Maßnahmen zur Absicherung gegen 
        Man-in-the-Middle-Angriffe.
      </p>
      <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Tab1')">Vorraussetzung</button>
        <button class="tablinks" onclick="openTab(event, 'Tab2')">Informationen</button>
        <button class="tablinks" onclick="openTab(event, 'Tab3')">Angriffe</button>
      </div>
  
      <div id="Tab1" class="tabcontent">
      <h2>Vorraussetzung</h2>
      <br>
      <h4> Um die Angriffe ausführen zu können, müssen folgende Tools installiert sein:</h4>
      <p> 
         <li>Virtual Box</li>
         <li>Docker</li>
         <li>Wireshark</li>
         <li>Python</li>
         <li>Ettercap</li>
         <br>
         Weitere Informationen zu den jeweiligen Tools finden Sie unter Information "Tools".
      </p>
      </div>
      <div id="Tab2" class="tabcontent">
       
          <h2>Informationen</h2>
          <br>
          <li><a href="general">Erklärung: Man in the Middle</a></li>
          <br>
          <li><a href="schutz">Schutzmechanismen</a></li>
          <br>
          <li><a href="tools">Tools</a></li>
      </div>

      <div id="Tab3" class="tabcontent">
          <h2>Angriffe</h2>
          <br>
          <li><a href="proxy">Proxy Angriff</a></li>
          <br>
          <li><a href="arp">ARP Cache Poisoning Angriff</a></li>
          <br>
          <li><a href="">Rouge Access Point Angriff</a></li>
      </div>
    </div>
    <div class = "footer">
      Informatik Projekt - Man in the Middle - Group Rom - 2023
      </div>  
  </body>
</html>