<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="{{ url_for('static', filename='js/tabs.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
<body> 
    <header>
        <nav>
          <ul>
            <li><a href="/home">Home</a></li>
				<li><a href="general">Mitm</a></li>
				<li><a href="tools">Tools</a></li>
        <li><a href="schutz">Schutzmechanismen</a></li>
        <li><a href="https://github.com/nihalalizada/kappes-projekt" target="_blank"><img src="/static/img/github-logo.png" alt="GitHub"></a></li>
          </ul>
        </nav>
      </header>
    <h1> Schutzmechanismen</h1>
    <div class="container-c">
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'Tab1')">Entwickler Perspektive</button>
            <button class="tablinks" onclick="openTab(event, 'Tab2')">Benutzer Perspektive</button>
            <button class="tablinks" onclick="openTab(event, 'Tab3')">Weitere Schutzmechanismen</button>
            <button class="tablinks" onclick="openTab(event, 'Tab4')">SSL Zertifikate</button>
          </div>
      
          <div id="Tab1" class="tabcontent">
            <h2>Entwickler Perspektive</h2>
            <p>Der Entwickler kann folgende Mechanismen einbauen, um die Sicherheit zu erhöhen</p>
            <li> Überprüfung von Eingabedaten</li>
            <li> Rechteverwaltung</li>
            <li> Authentifizierung</li>
            <li> Verschlüsselung</li>
          </div>
      
          <div id="Tab2" class="tabcontent">
            <h2>Benutzer Perspektive</h2>
            <p>Der Benutzer kann folgendes tun um die Authentizität einer Webseite zu prüfen</p>
            <li> Verschlüsselte Verbindung durch Zertifikate (Weiter unten genauer drauf eingegangen</li>
            <li> Malware (Andere Überschrift geben)</li>
            <li> Impressum / Datenschutzrichtlinie</li>
          </div>
    </main>
    <div id="Tab3" class="tabcontent">
    <h2> Weitere Schutzmechanismen </h2>
    <p>test</p>
    </div>
    <div id="Tab4" class="tabcontent">
    <h2>SSL-Zertifikate</h2>
    <br>
    <p>
      SSL-Zertifikate (Secure Socket Layer) sind digitale Zertifikate, die es einer Website ermöglichen, eine sichere Verbindung 
      mit dem Webbrowser ihres Benutzers aufzubauen. Sie werden hauptsächlich verwendet, um die Übertragung vertraulicher 
      Informationen wie Kreditkartendaten oder persönliche Daten zu schützen.
      <br>
      Ein SSL-Zertifikat besteht aus einem öffentlichen Schlüssel, einem privaten Schlüssel und einer Reihe von Informationen 
      über die Website und ihren Betreiber. Es wird von einer vertrauenswürdigen Zertifizierungsstelle ausgestellt, die die 
      Identität der Website und ihres Betreibers überprüft hat.
      <br>
      Wenn eine Website ein gültiges SSL-Zertifikat verwendet, wird bei jeder Übertragung von Daten zwischen dem Benutzer 
      und der Website eine verschlüsselte Verbindung hergestellt. Diese verschlüsselte Verbindung schützt die Übertragung 
      von Daten vor Lauschangriffen und anderen Bedrohungen.
      <br><br>
      <!--Vielleicht ein link zu Wie erstellt man SSL Zertifikate?-->
    </p>
  </div>
    </div>
    <div class = "footer">
      Informatik Projekt - Man in the Middle - Group Rom - 2023
      </div> 
    </body>
</html>
