<!-- Autor: -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a href="/home">Home</a></li>
				<li><a href="general">Mitm</a></li>
				<li><a href="tools">Tools</a></li>
                <li><a href="schutz">Schutzmechanismen</a></li>
            <li><a href="https://github.com/nihalalizada/kappes-projekt" target="_blank"><img src="/static/img/github-logo.png" alt="GitHub"></a></li>
          </ul>
        </nav>
      </header>
    <div class="login">
    <main class="container">
        <h2>Online Banking</h2>
        <form action="loginsecure" method="POST">
            <div class="input-field">
                <input type="text" name="username" id="username"
                    placeholder="Anmeldename">
                <div class="underline"></div>
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password"
                    placeholder="Passwort/PIN">
                <div class="underline"></div>
            </div>
            <div><br></div>
            <div class = "msg"> {{msg}}</div>
            <input type="submit" value="Continue">
        </form>
    </main>
    <div class = "footer">
        Informatik Projekt - Man in the Middle - Group Rom - 2023
        </div>  
</body>
</html>