<!-- Autor: Nihal Alizada-->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Überweisung</title>
	<body>
		<header>
			<nav>
			  <ul>
				<li><a href="/home">Home</a></li>
				<li><a href="general">Mitm</a></li>
				<li><a href="tools">Tools</a></li>
                <li><a href="schutz">Schutzmechanismen</a></li>
				<li><a href="https://github.com/nihalalizada/kappes-projekt" target="_blank"><img src="/static/img/github-logo.png" alt="GitHub"></a></li>
			  </ul>
			</nav>
		  </header>
		<div class="login">
			<main class="container">
				<h1>Überweisung</h1>
				<div><br></div>
			<div class="main">
			<form action="/transfer" method="POST" autocomplete="off">
				<div class="input-field">
					<input type="text" name="name" id="name"
						placeholder="Enter Name of Recipient">
					<div class="underline"></div>
				</div>
				<div class="input-field">
					<input type="text" name="iban" id="iban"
						placeholder="Enter the IBAN">
					<div class="underline"></div>
				</div>
				<div><br></div>
				<div class="input-field">
					<input type="text" name="amount" id="amount"
						placeholder="Enter the amount">
					<div class="underline"></div>
				</div>
				<div><br></div>
				<div class="input-field">
					<input type="text" name="purpose" id="purpose"
						placeholder="Purpose of transfer">
					<div class="underline"></div>
				</div>
				<div><br></div>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Transfer">
			</form>
		</div>
	</main>
	<div class = "footer">
		Informatik Projekt - Man in the Middle - Group Rom - 2023
		</div> 
	</body>
</html>